:root{
    --rows: repeat(16, 1fr);
    --columns: repeat(16, 1fr);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100vh;
}

.top-border{
    height: 5px;
    background: rgb(4, 130, 146);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    width: 245px;
    margin: 30px auto 0 auto;
    text-align: center;
    padding: 7px;
}

.btn{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(4, 130, 146);
    padding: 7px;
    color: azure;
    border: 1px solid azure;
    border-radius: 5px;
    transition: transform .2s;
}

.btn:hover{
    transform: scale(0.95);
    background-color: rgb(5, 142, 145);
    color: azure;
}

#container{
    display: grid;
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    margin: 150px auto 0 auto;
    border: 1.3px solid rgb(38, 39, 39);
    width: 481px;
    margin: 40px auto 0 auto;
    height: 481px; 
}

.items{
    border: 1px solid rgb(63, 66, 66);
}
